* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.header {
    height: 88px;
    width: 1920px;
    display: flex;
    align-items: center;
    justify-content: center;
}   

.container {
    height: 88px;
    width: 1320px;
    left: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo {
    height: 44.13px;
    width: 547px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_img a img{
    background-image: url('logo-1.svg');
    height: 32px;
    width: 167px;
    background-size: contain;
    background-repeat: no-repeat;
}

.header__search {
    height: 44.13px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__search input {
    text-align: center;
    height: 44px;
    width: 290px;
    border: none;
    border-radius: 12px;
}

.header__right {
    height: 44px;
    width: 593.5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.headerDropdown__button {
    height: 42.13px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Destinations {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42.13px;
    width: 149.61px;
}

.Activities {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42.13px;
    width: 127.45px;
}

.USD {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42.13px;
    width: 91.86px;
}

.Sign_up {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42.13px;
    width: 69px;
}

.log_in {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 83.31px;
    background-color: #EB662B;
    border-radius: 200px;
}

.log_in a {
    color: white;
}

.text-main h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 84px;
    width: 564.12px;
    top: 308px;
    left: 678.03px;
    position: absolute;
    font-size: 69.73px;
    z-index: 1;
    color: #FFFFFF;
}

.text-main p {
    height: 28.13px;
    width: 629.78px;
    top: 402px;
    left: 645.2px;
    position: absolute;
    font-size: 14.65px;
    text-align: center;
    z-index: 1;
    color: #FFFFFF;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 1920px;
    height: 1798.90px;
}

.sec-1 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 850px;
    left: 535px;
    width: 850px;
    top: 490.13px;
    background-color: white;
    z-index: 1;
}

.searchForm__form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 693.05px;
    height: 60px;
}

.searchFormItem__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 224.36px;
    height: 50px;
}

.searchFormItem__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-width: 1px;
    margin-right: 10px ;
    border-radius: 10px;
}

.sec-1 button {
    width: 136.94px;
    height: 60px;
    border-radius: 12px;
    background-color: #EB662B;
    color: white;
    border: none;
}

.sec-2 {
    width: 1800px;
    height: 702.13px;
    border-radius: 12px;
}

.sec-2 .bg-img {
    background-image: url("bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 702.13px;
    width: 1800px;
}

.sec-3 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    width: 1320px;
    height: 296.38px;
    margin-top: 100px;
}

.sec-3 .main-text {
    height: 45px;
    width: 267px;
    font-size: 29px;
    font-weight: 700;
}

.sec-3 .text-area {
    display: flex;
    justify-content: space-between;
}

.sec-3 .text-area .text-area-box {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.sec-3 .text-area .text-area-box .area-img-1 {
    height: 60px;
    width: 60px;
    background-image: url("area-img-1.svg");
}

.sec-3 .text-area .text-area-box .area-img-2 {
    height: 60px;
    width: 60px;
    background-image: url("area-img-2.svg");
}

.sec-3 .text-area .text-area-box .area-img-3 {
    height: 60px;
    width: 60px;
    background-image: url("area-img-3.svg");
}

.sec-3 .text-area .text-area-box .area-img-4 {
    height: 60px;
    width: 60px;
    background-image: url("area-img-4.svg");
}

.sec-3 .text-area .text-area-box .area-heading {
    font-weight: 900;
    margin-top: 10px;
}

.sec-4 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 1320px;
    height: 390.25px;
    margin-top: 100px;
}

.sec-4 .heading-text {
    width: 320.92px;
    height: 45px;
}

.sec-4 .sub-area {
    height: 340px;
    width: 1290px;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
}

.sec-4 .sub-area .img-area {
    height: 200px;
    width: 1290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec-4 .sub-area .img-area .img-card {
    height: 200px;
    width: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sec-4 .sub-area .img-area .img-card .card-img-1 {
    height: 130px;
    width: 135px;
    background-image: url("sce-4-are-img-1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 130px;
}

.sec-4 .sub-area .img-area .img-card .card-img-2 {
    height: 130px;
    width: 135px;
    background-image: url("sce-4-are-img-2.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 130px;
}

.sec-4 .sub-area .img-area .img-card .card-img-3 {
    height: 130px;
    width: 135px;
    background-image: url("sce-4-are-img-3.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 130px;
}

.sec-4 .sub-area .img-area .img-card .card-img-4 {
    height: 130px;
    width: 135px;
    background-image: url("sce-4-are-img-4.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 130px;
}

.sec-4 .sub-area .img-area .img-card .card-img-5 {
    height: 130px;
    width: 135px;
    background-image: url("sce-4-are-img-5.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 130px;
}

.sec-4 .sub-area .img-area .img-card .card-img-6 {
    height: 130px;
    width: 135px;
    background-image: url("sce-4-are-img-6.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 130px;
}

.sec-4 .sub-area .img-area .img-card .card-img-7 {
    height: 130px;
    width: 135px;
    background-image: url("sce-4-are-img-7.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 130px;
}

.sec-4 .sub-area .img-area .img-card .card-img-8 {
    height: 130px;
    width: 135px;
    background-image: url("sce-4-are-img-8.svg");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 130px;
}

.sec-4 .sub-area .img-area .img-card .card-text-area {
    display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center; 
}

.sec-5 {
    height: 940px;
    width: 1320px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.sec-5 .heading-text {
    margin-left: 25px;
    font-size: 30px;
    font-weight: 900;
}

.sec-5 .container {
    height: 900px;
    width: 1320px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sec-5 .container .card {
    height: 388px;
    width: 300px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid bisque;

}

.sec-5 .container .card .card-img {
    height: 198px;
    width: 278px;
    margin-left: 11px;
}

.sec-5 .container .card .card-img img {
    height: 198px;
    width: 278px;
    border-radius: 12px;
    object-fit: cover;
}

.sec-5 .container .card .card-text-1 {
    color: #717171;
    margin-left: 42px;
}

.sec-5 .container .card .card-text-2 {
    color: #05073C;
    font-size: 20px;
    font-weight: 600;
}

.sec-5 .container .card .card-text-3 {
    color: #05073C;
    font-size: 20px;
    text-align: center;
}

.sec-5 .container .card .card-box {
    height: 41px;
    width: 258px;
    margin-left: 21px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid bisque;
}

.sec-5 .container .card .card-box .card-box-price {
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec-5 .container .card .card-box .card-box-price .tag {
    height: 21px;
    width: 56px;
    font-weight: 600;
    font-size: 18px;
}

.sec-5 .container .card .card-round {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    margin-left: 220px;
    margin-top: 13px;
}

.sec-6 {
    height: 606px;
    width: 1530px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    box-sizing: border-box;
}

.sec-6 .image {
    height: 606px;
    width: 750px;
    border-radius: 12px;
    background-image: url("sec-6-img.svg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.sec-6 .img-curve {
    background-image: url("sec-6-img-curve.svg");
    height: 606px;
    width: 40px;
    position: absolute;
}

.sec-6 .text-box {
    height: 606px;
    width: 740px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sec-6 .text-box .text-area {
    margin-left: 90px;
}

.sec-6 .text-box .text-area .heading-text {
    height: 156px;
    width: 366px;
    font-size: 20px;
}

.sec-6 .text-box .text-area button {
    height: 62px;
    width: 167px;
    border-radius: 12px;
    color: white;
    background-color: #EB662B;
    border: none;
    margin-top: 10px;
}

.sec-7 {
    height: 600px;
    width: 1320px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
}

.sec-7-heading {
    color: #05073C;
    font-size: 40px;
    font-weight: 700;
    margin-left: 20px;
}

.sec-7 .img-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
}

.sec-7 .img-container .block-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.sec-7 .img-container .block-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sec-7 .img-container .block-3 .part-1 img {
    border-radius: 10px;
}

.sec-7 .img-container .block-3 .part-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sec-8 {
    height: 770px;
    width: 1530px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 150px;
}

.sec-8 .sec-8-container {
    height: 533px;
    width: 1320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec-8 .sec-8-container .heading-text {
    margin-left: 25px;
    font-size: 30px;
    font-weight: 900;
    text-align: left;
    margin-left: 20px;
}

.sec-8 .sec-8-container .card-container {
    height: 900px;
    width: 1320px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.sec-8 .sec-8-container .card-container .card {
    height: 388px;
    width: 300px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid bisque;

}

.sec-8 .sec-8-container .card-container .card .card-img {
    height: 198px;
    width: 278px;
    margin-left: 11px;
}

.sec-8 .sec-8-container .card-container .card .card-img img {
    height: 198px;
    width: 278px;
    border-radius: 12px;
    object-fit: cover;
}

.sec-8 .sec-8-container .card-container .card .card-text-1 {
    color: #717171;
    margin-left: 42px;
}

.sec-8 .sec-8-container .card-container .card .card-text-2 {
    color: #05073C;
    font-size: 20px;
    font-weight: 600;
}

.sec-8 .sec-8-container .card-container .card .card-text-3 {
    color: #05073C;
    font-size: 20px;
    text-align: center;
}

.sec-8 .sec-8-container .card-container .card .card-box {
    height: 41px;
    width: 258px;
    margin-left: 21px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid bisque;
}

.sec-8 .sec-8-container .card-container .card .card-box .card-box-price {
    height: 30px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sec-8 .sec-8-container .card-container .card .card-box .card-box-price .tag {
    height: 21px;
    width: 56px;
    font-weight: 600;
    font-size: 18px;
}

.sec-8 .sec-8-container .card-container .card .card-round {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    margin-left: 220px;
    margin-top: 13px;
}

.sec-9 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-9 img {
    height: 871px;
    width: 100%;
    overflow: hidden;
}

.sec-9-container {
    height: 610px;
    width: 1320px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.sec-9-heading {
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    text-align: center;
}

.sec-9-box {
    height: 505px;
    width: 630px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.sec-9-box-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec-9-img-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-9-img-area img{
    height: 100px;
    width: 100px;
}

.sec-9-img-pattern {
    position: absolute;
    height: 46px;
    width: 46px;
    margin-left: -88px;
    margin-top: -73px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-9-img-pattern-bg {
    height: 46px;
    width: 46px;
    background-color: #EB662B;
    border-radius: 50%;
}

.sec-9-img-pattern img {
    height: 12px;
    width: 16px;
    position: absolute;
    z-index: 5;
}

.sec-9-box-content h2 {
    color: #EB662B;
    margin-top: 70px;
}

.sec-9-box-content .para1 {
    color: #05073C;
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
}

.sec-9-box-content .para2 {
    color: #05073C;
    margin-top: 30px;
    font-size: 20px;
}

.sec-9-box-content .para3 {
    color: #05073C;
    margin-top: 5px;
    font-size: 15px;
}

.sec-9-dotted-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sec-9-dotted-area span {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #05073C;
}

.sec-9-dotted-area span:hover {
    height: 6px;
    width: 18px;
    border-radius: 30%;
    background-color: #05073C;
}

.sec-10 {
    height: 514px;
    width: 1530px;
    display: flex;
    align-items: center;
}

.sec-10-container {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 514px;
}

.sec-10-block-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 514px;
    width: 667px;
    margin-left: 110px;
    color: #FFFFFF;
}

.sec-10-block-2 img{
    height: 514px;
}

.sec-10-heading-text {
    height: 105px;
    width: 365px;
    font-size: 20px;
}

.sec-10-para1 {
    height: 48px;
    width: 313px;
    margin-bottom: 20px;
}

.sec-10-para2 {
    height: 48px;
    width: 313px;
    margin-top: 20px;
    font-size: 20px;
}

.sec-10-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sec-10-buttons :nth-child(1) {
    height: 60px;
    width: 350px;
    border-radius: 12px;
    border: none;
    text-align: left;
    padding-left: 20px;
}

.sec-10-buttons :nth-child(2) {
    height: 60px;
    width: 107px;
    border-radius: 12px;
    border: none;
    text-align: center;
}

.travel-articles {
    height: 530px;
    width: 1320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
}

.travel-articles-heading {
    margin-left: 20px;
}

.travel-articles-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.travel-articles-card {
    width: 410px;
    height: auto;
}

.travel-articles-card-detail {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #05073C;
    font-size: 13px;
    gap: 5px;
}

.travel-articles-card-description {
    height: 52px;
    width: 366px;
    font-weight: 600;
    font-size: 20px;
}

.footer {
    margin-top: 160px;
    height: 655px;
    width: 1800px;
    background-color: #EB662B26;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .container {
    height: 655px;
    width: 1320px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.footer .container .block-1 {
    height: 185px;
    width: 1290px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    border-bottom: 2px solid rgb(191, 131, 59);
}

.footer .container .block-2 {
    width: 1320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .container .block-2 .contact {
    width: 440px;
    height: 390px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.footer .container .block-2 .company {
    width: 440px;
    height: 390px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.footer .container .block-2 .support {
    width: 440px;
    height: 390px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.footer .container .block-2 .text-area {
    width: 440px;
    height: 390px;
    display: flex;
    flex-direction: column;
}

.footer .container .block-2 .text-area .newsletter {
    display: flex;
    height: 50%;
    width: 100%;
    gap: 20px;
    flex-direction: column;
}

.footer .container .block-2 .text-area .mobile-apps {
    display: flex;
    height: 50%;
    width: 100%;
    gap: 20px;
    flex-direction: column;
}

.footer .container .block-2 .text-area .newsletter input {
    height: 60px;
    width: 300px;
    border-radius: 16px;
    border: none;
    padding-left: 15px;
}

.footer .container .block-2 .text-area .newsletter a {
    height: 20px;
    width: 35px;
    position: absolute;
    margin-top: 100px;
    margin-left: 250px;
}

.text-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


input :hover {
    border: 1px solid black;
}